<header>
    <nav class="navbar help navbar-expand-lg navbar-light">
        <div class="container-fluid" >
            <%- include('../notification.ejs') %>
            <a href = "#" class="notification"><i class="fa-solid fa-layer-group fa-lg"></i></a>
        </div>
    </nav>
    <script>
        let click_2 = document.querySelector('.click_2')
        let list_2 = document.querySelector('.list_2')
        click_2.addEventListener("click",()=>{
            list_2.classList.toggle('newlist2');
        })
    </script>
</header>