<header>
    <nav class="navbar help navbar-expand-lg navbar-light">
        <div class="container-fluid" >
            <%- include('../notification.ejs') %>
            <a href = "#" class="notification"><i class="fa-solid fa-layer-group fa-xl"></i></a>
        </div>
    </nav>
</header>