<div style="color: white; text-align: justify; margin: auto 5vw auto 5vw; font-size: 18px">
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">Про нас</h1>
        <p style="margin:0; color: lightgray;">
            Сайт створений на волонтерських засадах групою студентів для полегшення життя людей
            у гарячих точках країни, після того як Російська федерація розпочала повномасштабний
            наступ на незалежну Україну. Команда працювала над проектом в обмеженому часі, проте
            намагалась зробити корисний додаток в цей нелегкий для українців період. Надіємось
            на близьку перемогу і все буде Україна!
        </p>
    </div>
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">Що робить сайт?</h1>
        <p style="margin:0; color: lightgray;">
            Платформа поєднує між собою по двох людей за схемою: попит → пропозиція. Де попит: 
            людина, яка потребує допомогу, і пропозиція: людина, яка допомогу може надати. 
            Оскільки багато куди не доходить гуманітарна допомога, люди можуть допомогти один одному 
            самі. 
        </p>
    </div>
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">Правила платформи:</h1>
        <li style="margin:0; color: lightgray; margin: 3% 5% 3% 5%;">
            Оскільки платформа не комерційна великі об’єми медикаментів чи чогось іншого передавати один 
            одному заборонено.
        </li>
        <li style="margin:0; color: lightgray; margin: 3% 5% 3% 5%;">
            Також серед типів допомоги немає і розділу передачі коштів, оскільки це може створити грошові
            махінаціх всередині сайту.
        </li>
            
    </div>
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">Як користуватись сайтом?</h1>
        <p  style="margin:0; color: lightgray;">
            
        </p>
    </div>
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">Чи безпечно надавати особисті дані?</h1>
        <li style="margin:0; color: lightgray; margin: 3% 5% 3% 5%;">
            В цілях безпеки користувачів під час війни безпосереднє місцезнаходження потребуючого 
            чи волонтера не розкривається, воно залишається в системі лише як обласний район, що 
            не дає злоумисникам навіть при спробі витягнути інформацію дізнатись, де знаходяться користовачі.
        </li>
        <li style="margin:0; color: lightgray; margin: 3% 5% 3% 5%;">
            
        </li>
        
    </div>
</div>