<div style="color: white; text-align: justify; margin: auto 5vw auto 5vw; font-size: 18px">
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">Про нас</h1>
        <p style="margin:0;"></p>
    </div>
    <div>
        <h1 style="font-size: 30px; margin: 3% 0 3% 0;">
            Як користуватись сайтом?
        </h1>
        <p style="margin:0;">
            Панель керування внизу дає Вам можливість пересуватись між вашими сторінками
        </p>
    </div>
</div>