<div class="applicationCardMain">
    <div class="applicationHeader">
        <img class="mainProfileIcon" src="/views/usedPictures/female.png" alt="user">
        <div><p>22.04.2022 22:33</p></div>
        <i class="fa-solid fa-exclamation fa-xl"></i>
        <i class="fa-solid fa-heart-crack fa-xl"></i>
    </div>
    <div class="applicationText">
        <br>
        <p>Моє ім'я та прізвище</p>
        <p>Я знаходжусь в...</p>
        <p>Мені потрібні ліки</p>
        <p>Інсулін 2 ампули</p>
    </div>
</div>