:root {
    --color1: rgb(152, 17, 48);
    --color2: rgb(234, 233, 229);
    --color3: rgb(43, 40, 39);
    --color4: rgb(207, 66, 90);
    --color5: rgba(3, 3, 3, 0.7);
}

:root {
    --color6: rgb(154, 170, 186);
    --color7: rgb(234, 233, 229);
    --color8: rgb(48, 44, 41);
    --color9: rgb(196, 212, 225);
    --color10: rgb(157, 152, 146);
}

body {
    background-color: var(--color3);
}

.controlPanel {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: rgba(43, 40, 39, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controlPanel .item {
    flex: 1;
    display: flex;
    align-items: center;
}

.controlPanel .item button {
    flex: 0.95;
    left: 2.5%;
    border-radius: 0.9rem;
    padding: .6rem .75rem;
    background-color: var(--color1);
    border-color: var(--color1);
    margin: 0 0 0 4%;
}

.iconControl {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.profileCard {
    background-color: var(--color1);
    width: 92%;
    height: 30%;
    position: absolute;
    top: 7%;
    left: 4%;
    border-radius: 0.9rem;
}

.profileCard .profileInfo {
    min-width: 45%;
    max-width: 65%;
    height: 80%;
    position: absolute;
    right: 5%;
    top: 10%
}

.profileCard .profileInfo p {
    color: var(--color2);
}

.profileCard .profilePhoto {
    height: 80%;
    background-color: var(--color2);
    position: absolute;
    left: 5%;
    top: 10%
}

.profileCard .profilePhoto img {
    width: auto;
    height: 100%;
}

.applicationCard {
    background-color: var(--color5);
    border-radius: 0.5rem;
    border-color: var(--color5);
    border-width: 10px;
    width: 100%;
    height: 95%;
    color: var(--color2);
}

.applicationCardMain {
    background-color: var(--color5);
    border-radius: 0.5rem;
    border-color: var(--color5);
    border-width: 10px;
    width: 90vw;
    height: 200px;
    color: var(--color2);
    margin: 5% 5% 0 5%;
    padding: 2%;
}

.applicationHeader div {
    height: 20%;
    min-width: 70%;
    text-align: left;
    color: var(--color4);
}

.applicationText p {
    height: 20%;
    width: 100%;
    text-align: left;
}

.applicationText {
    height: 60%;
}

p {
    margin: 0 0 0 5%;
}

.applicationHeader div p {
    margin-top: 8%;
}

.applicationHeader {
    display: flex;
    justify-content: end;
    height: 20%;
    width: 100%;
}

.applicationHeader .iconLast {
    padding: 5% 4% 0 0;
    width: auto;
    height: 5vh;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.applicationHeader .icon {
    padding: 5% 1% 0 0;
    height: 5vh;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.anotherText {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.applicationCard .applicationInProgressFooter {
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    padding: 0 2% 0 2%;
}

.applicationCard .applicationInProgressFooter .btn {
    border-radius: 0.6rem;
    height: 4.5vh;
    min-width: 6vw;
}

.applicationCard .applicationInProgressFooter .btn img {
    height: 1.7vh;
}

.applicationInProgressFooter div {
    width: 60%;
    margin: 0 0 5% 0;
}

.applicationInProgressFooter div p {
    size: 30px;
    margin: 5% 0 0 0;
}

.sortRadio {
    color: aliceblue;
}

.form-check-input:checked {
    background-color: var(--color4);
    border-color: var(--color4);
}

.form-check-input:active {
    filter: drop-shadow();
}

.form-check-input:focus {
    border-color: var(--color4);
    outline: 0;
    box-shadow: var(--color4);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: 0;
}

.help {
    height: 46.8px;
}

.form-floating>.form-control,
.form-floating>.form-select {
    height: calc(3.5rem);
}

.application {
    width: 100%;
    height: 8vh;
    background-color: rgba(43, 40, 39, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.application .btn {
    color: #fff;
    border-radius: 0.9rem;
    background-color: var(--color1);
    border-color: var(--color1);
    margin: 0 5% 0 5%;
    width: 40%;
    height: auto;
}

.notificationFooter {
    display: flex;
    justify-content: space-between;
}

.notificationFooter .btn {
    background-color: var(--color1);
    margin: 1% 3% 1% 3%;
    border-radius: 0.6rem;
    border-color: var(--color1);
    min-width: 35vw;
    color: #fff;
}

.invertColor {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.mainProfileIcon {
    background-color: var(--color2);
    border-radius: 10rem;
    height: 6vh;
    width: 6vh;
    display: inline-block;
}

.container::-webkit-scrollbar {
    width: 1px;
}

.container .items {
    width: 100%;
    height: 30%;
    text-align: center;
    overflow: hidden;
}

.container .item {
    width: 90%;
    height: 100%;
    overflow: hidden;
}

* {
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    position: absolute;
    margin: 35vh 0 9% 0;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.container section {
    min-width: 107%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    scroll-snap-align: start;
}

@media (max-width: 800px) {
    .container {
        display: flex;
        overflow-x: scroll;
    }
}

.container-fluid a {
    color: #1e2125;
}

.container-fluid a:hover {
    color: #7d7d7d;
}

.menu {
    position: relative;
    padding-left: 8px;
    padding-right: 8px;
}

.click,
.click_2 {
    background: none;
    padding: 5px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 25%;
    transition: 0.3s;
}

.notification {
    align-items: center;
    padding: 5px;
    padding-left: 13px;
    padding-right: 13px;
    width: 50px;
}

.try {
    min-width: 80vw;
    border-radius: 0.5rem;
    background-color: var(--color2);
    position: center;
    margin: 5% 0 5% 0;
    width: 100%;
    height: 100%;
    color: black;
}

.try p{
    margin: 0 5% 0 5%;
}

.partApplication{
    width: 90%;
    margin: 0 5% 0 5%;
    min-height: 6vh;
    background-color: var(--color3);
    border-radius: 0.6rem;
    padding: 2%;
}
.partApplication p{
    color: var(--color2);
}

.links {
    padding: 3vw;
    font-size: 1.0em;
    border: none;
    outline: none;
    height: 60px;
    width: 56vw;
    transition: 0.3s;
}

.list {
    position: absolute;
    z-index: 100;
    margin: 0 0 0 -64vw;
    padding-left: 9vw;
    padding-right: 9vw;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    border-radius: 0.5rem;
    background-color: rgba(28, 28, 28, 0.95);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 74vw;
}

.list_2 {
    position: absolute;
    margin: 0 0 0 -2vw;
    min-height: 20vh;
    min-width: 93vw;
    z-index: 100;
    padding-left: 40%;
    padding-right: 40%;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    border-radius: 0.5rem;
    background-color: rgba(28, 28, 28, 0.95);
}

.newlist,
.newlist2 {
    transform: scaleY(1);
}

.links {
    border-radius: 0.2rem;
    background-color: rgba(28, 28, 28, 0);
    color: white;
}

.links:hover {
    background-color: var(--color1);
    color: black;
    transform: scale(1.1);
}

#pbreak {
    text-align: left;
}

.helpdiv::-webkit-scrollbar {
    width: 1px;
}

* {
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.helpdiv {
    padding-top: 5%;
    width: 100%;
    min-height: 92vh;
}

.helpdiv section {
    min-width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.helpdiv .item {
    width: 90%;
    color: aliceblue;
}

.helpdiv .items {
    width: 100%;
    height: auto;
    margin: 0 0 4% 0;
    padding: 5%;
    border-radius: 0.6rem;
    background-color: rgba(28, 28, 28, 0.98);
    word-wrap: break-word;
}

@media (max-width: 800px) {
    .helpdiv {
        display: flex;
    }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98vw;
    pointer-events: auto;
    background-color: var(--color3);
    background-clip: padding-box;
    border-radius: 0.7rem;
    outline: 0;
}

.modal-content hr {
    color: var(--color2);
    max-width: 80vw;
    height: 2.5px;
    margin: 0 0 0 8vw;
}

i {
    color: #fff;
    margin: 2%;
    height: 2vh;
}

.applicationHeader i {
    margin-top: 7%;
}

.modal-content span {
    text-align: center;
    padding: 5%;
    color: var(--color2);
}

.modalButtons {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.modal-content .modalButtons .btn {
    border-radius: 0.9rem;
    background-color: var(--color1);
    border-color: var(--color1);
    width: 35vw;
    color: var(--color2);
}

.menu hr {
    color: var(--color2);
    width: 56vw;
    margin: 5px 5px 0px 0px;
    opacity: 1;
    border: 10px;
}

.link1 {
    border: none;
}

.links:hover {
    background-color: rgba(152, 17, 48, 0);
    color: var(--color4);
    font-style: bold;
    transform: scale(1.01);
}

.list .dropinfo {
    position: relative;
    height: 100%;
    color: var(--color2);
    z-index: 1;
    display: none;
    box-sizing: border-box;
    align-items: center;
}

.dropwindow:hover .dropinfo {
    display: block;
}

.dropwindow:hover .links {
    flex-direction: revert;
}

.form_button {
    font-family: sans-serif;
    letter-spacing: 1px;
}

.formButtons {
    display: flex;
    justify-content: space-between;
}

.form_button {
    border: none;
    font-size: 15px;
    background-color: var(--color1);
    text-align: center;
    border-radius: 0.6em;
    padding: 1% 2% 1% 2%;
    display: inline-block;
    margin: 2% 0 2% 0;
    width: 45%;
}

.formButtons a {
    color: var(--color2);
}

.list a {
    text-decoration: none;
}

.dropinfo .form-floating {
    margin: 5% 2% 5% 2%;
    color: var(--color3);
    width: 54vw;
}

.dropinfo .form-control{
    border-radius: 0.5rem;
}

.regPage h1{
    color: var(--color2);
}