:root {
	--color1: rgb(152, 17, 48);
	--color2: rgb(120, 48, 65);
	--color3: rgb(207, 66, 90);
	--color0: rgb(3, 3, 3);
	--color007: rgba(3, 3, 3, 0.7);
	--color4095: rgba(28, 28, 28, 0.95);
	--color5: rgb(43, 40, 39);
	--color506: rgba(43, 40, 39, 0.6);
	--color6: rgb(157, 152, 146);
	--color255: rgb(234, 233, 229);
}

:root {
	--c11: rgb(154, 170, 186);
	--c7: rgb(234, 233, 229);
	--c8: rgb(48, 44, 41);
	--c9: rgb(196, 212, 225);
	--c10: rgb(157, 152, 146);
}

body {
	background-color: var(--color5);
}

.controlPanel {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 8%;
	background-color: var(--color506);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.controlPanel .item {
	flex: 1;
	display: flex;
	align-items: center;
}

.buttonMain a {
	color: var(--color255);
	margin: 2% 5% 4% 50%;
	border: 1px solid var(--color255);
	font-size: 15px;
	background-color: transparent;
	text-align: center;
	border-radius: 0.6em;
	padding: 0.5%;
	display: inline-block;
	width: 45%;
}

.buttonMain a:hover {
	color: var(--color3);
	border: 1px solid var(--color2);
	box-shadow: var(--color255);
}

.controlPanel .item button {
	flex: 0.95;
	left: 2.5%;
	border-radius: 0.9rem;
	padding: 1vh 2.3vh;
	background-color: var(--color1);
	border-color: var(--color1);
	margin: 0 0 0 4%;
}

.profileCard {
	background-color: var(--color1);
	width: 92%;
	height: 30%;
	position: absolute;
	top: 7%;
	left: 4%;
	border-radius: 0.9rem;
}

.profileInfo {
	min-width: 45%;
	max-width: 65%;
	height: 80%;
	position: absolute;
	right: 5%;
	top: 10%
}

.profileInfo p {
	color: var(--color255);
}

.profilePhoto {
	height: 80%;
	background-color: var(--color255);
	position: absolute;
	left: 5%;
	top: 10%
}

.profilePhoto img {
	width: auto;
	height: 100%;
}

.applicationCard {
	background-color: var(--color007);
	border-radius: 0.5rem;
	border-color: var(--color007);
	border-width: 10px;
	width: 100%;
	height: 200px;
	color: var(--color255);
}

.applicationCardInProgress {
	background-color: var(--color007);
	border-radius: 0.5rem;
	border-color: var(--color007);
	border-width: 10px;
	width: 100%;
	height: 250px;
	color: var(--color255);
}

.inProgress {
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 265px;
}

.applicationCardMain {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color007);
	border-radius: 0.5rem;
	border-color: var(--color007);
	border-width: 10px;
	width: 90vw;
	height: 200px;
	color: var(--color255);
	margin: 15px 5% 0 5%;
}

.photoDate {
	display: flex;
	justify-content: space-around;
}

.applicationText p {
	width: 90%;
	text-align: left;
}

.email {
	text-align: center !important;
}

p {
	margin: 0 0 0 5vw;
}

.date {
	width: 70%;
}

.applicationHeader div .text {
	margin: 6% 5vw 6% 5vw;
}

.applicationHeader div .text2 {
	margin: 3% 5vw 0 5vw;
}

.applicationHeader div .text3 {
	margin: 6% 0 0 0;
}

.smallDate {
	font-size: 13px;
	color: var(--color2);
	margin: 0 5vw 1% 5vw;
}

.answer {
	font-size: 13px;
	color: var(--color2);
	margin: 0 5vw 1% 10vw;
}

.btf {
	color: var(--color2);
}

.applicationHeader {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-width: 70%;
	text-align: left;
	color: var(--color3);
}

.markButton {
	display: flex;
	justify-content: end;
	width: 30%;
}

a {
	margin: 13% 7% 13% 7%;
}

i {
	color: var(--color255);
	margin: 6%;
}

.applicationHeader div i {
	margin-top: 22%;
}

.fa-heart-crack,
.fa-heart {
	margin-right: 15%;
}

.anotherText {
	display: flex;
	justify-content: center;
	height: 60%;
	width: 100%;
}

.applicationInProgressFooter {
	display: flex;
	height: 20%;
	width: 100%;
	justify-content: space-between;
	padding: 0.5vh 5vw 1.5vh 5vw;
}

.applicationInProgressFooter .btn {
	border-radius: 0.6rem;
	min-width: 20vw;
}

.fa-times {
	color: var(--color5);
}

.fa-check {
	color: var(--color1);
}

.applicationInProgressFooter div {
	width: 60%;
}

.applicationInProgressFooter div p {
	size: 30px;
	margin: 5% 0 0 0;
}

.sortRadio {
	color: var(--color255);
}

.form-check-input:checked {
	background-color: var(--color3);
	border-color: var(--color3);
}

.form-check-input:active {
	filter: drop-shadow();
}

.form-check-input:focus {
	border-color: var(--color3);
	outline: 0;
	box-shadow: var(--color3);
}

.navbar {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: .5rem;
	padding-bottom: 0;
}

.help {
	height: 46.8px;
}

.form-floating>.form-control,
.form-floating>.form-select {
	height: calc(3.5rem);
}

.application {
	width: 100%;
	height: 8vh;
	background-color: var(--color506);
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.application .btn {
	color: var(--color255);
	border-radius: 0.9rem;
	background-color: var(--color1);
	border-color: var(--color1);
	margin: 0 5% 0 5%;
	width: 40%;
	height: auto;
}

.notificationFooter {
	display: flex;
	justify-content: space-between;
}

.notificationFooter .btn {
	background-color: var(--color1);
	margin: 1% 3% 1% 3%;
	border-radius: 0.6rem;
	border-color: var(--color1);
	min-width: 35vw;
	color: var(--color255);
}

.mainProfileIcon {
	background-color: var(--color255);
	border-radius: 10rem;
	height: 5vh;
	width: 5vh;
	margin: 4% 5vw 3% 4vw;
	display: inline-block;
}

.container::-webkit-scrollbar {
	width: 1px;
}

.container .items {
	width: 100%;
	height: 215px;
	text-align: center;
}

.container .item {
	width: 90%;
	height: 100%;
}

* {
	scroll-snap-type: y mandatory;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.container {
	position: static;
	margin: 0 0 9% 0;
	width: 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	display: flex;
}

.container section {
	min-width: 107%;
	height: 100%;
	margin-top: 35vh;
	margin-bottom: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
}

@media (max-width: 800px) {
	.container {
		display: flex;
		overflow-x: scroll;
	}
}

.container-fluid a {
	color: var(--color5);
	margin: 0 0 0 0;
}

.menu {
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
}

.click,
.click_2,
.click_3 {
	background: none;
	padding: 5px;
	font-size: 1.2em;
	border: none;
	outline: none;
	width: 25%;
	transition: 0.3s;
}

.adding {
	padding-top: 1.25vh;
}

.notification {
	align-items: center;
	padding: 5px;
	padding-left: 13px;
	padding-right: 13px;
	width: 50px;
}

.try {
	min-width: 80vw;
	border-radius: 0.5rem;
	background-color: var(--color255);
	position: center;
	margin: 5% 0 5% 0;
	width: 100%;
	height: 100%;
	color: var(--color0);
}

.try p {
	margin: 0 5% 0 5%;
}

.try a {
	color: var(--color2);
}

.partApplication {
	width: 90%;
	margin: 0 5% 0 5%;
	min-height: 6vh;
	background-color: var(--color5);
	border-radius: 0.6rem;
	padding: 2%;
}

.partApplication p {
	color: var(--color255);
}

.partApplicationHeader {
	display: flex;
	justify-content: space-between;
	font-size: 13px;
}

.partApplication .partApplicationHeader .date {
	color: var(--color3) !important;
}

.partApplication .partApplicationHeader .urgent {
	color: var(--color1) !important;
}

form p {
	color: var(--color255);
	font-size: 20px;
	text-align: center;
	margin: 5px 0 5px 0;
	display: inline;
}

.links {
	padding: 3vw;
	font-size: 1.0em;
	border: none;
	outline: none;
	height: 60px;
	width: 56vw;
	transition: 0.3s;
}

.droppoints {
	display: none;
	z-index: 100;
	position: absolute;
	border-radius: 0.5rem;
	background-color: var(--color4095);
	margin-bottom: 0;
	margin-left: -50vw;
	min-width: 10em;
	min-height: 5em;
	bottom: 90%;
	padding: 0;
}

.editingApp {
	margin: 0;
	width: 60vw;
	background-color: transparent;
	border-color: transparent;
	color: var(--color255);
	padding: 3%;
}

.editingApp:hover {
	border: 2px solid var(--color255);
	background-color: transparent;
	color: var(--color255);
}

.threepoints:hover .droppoints {
	display: block;
}

.threepoints {
	position: relative;
}

.list {
	position: absolute;
	z-index: 100;
	margin: 0 0 0 -64vw;
	padding-left: 9vw;
	padding-right: 9vw;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
	border-radius: 0.5rem;
	background-color: var(--color4095);
	padding-top: 10px;
	padding-bottom: 10px;
	width: 74vw;
}

.list_2 {
	position: absolute;
	margin: 0 0 0 -2vw;
	min-height: 20vh;
	min-width: 93vw;
	z-index: 100;
	padding-left: 40%;
	padding-right: 40%;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
	border-radius: 0.5rem;
	background-color: var(--color4095);
}

.newlist,
.newlist2,
.newlist3 {
	transform: scaleY(1);
}

.links {
	border-radius: 0.2rem;
	background-color: transparent;
	color: var(--color255);
}

.links:hover {
	background-color: var(--color1);
	color: var(--color0);
	transform: scale(1.1);
}

#pbreak {
	text-align: left;
}

.helpdiv::-webkit-scrollbar {
	width: 1px;
}

* {
	scroll-snap-type: y mandatory;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.helpdiv {
	padding-top: 5%;
	width: 100%;
	min-height: 92vh;
}

.helpdiv section {
	min-width: 100%;
	display: flex;
	justify-content: center;
	overflow: auto;
}

.helpdiv .item {
	width: 90%;
	color: var(--color255);
}

.helpdiv .items {
	width: 100%;
	height: auto;
	margin: 0 0 4% 0;
	padding: 5%;
	border-radius: 0.6rem;
	background-color: var(--color007);
}

@media (max-width: 800px) {
	.helpdiv {
		display: flex;
	}
}

.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 98vw;
	pointer-events: auto;
	background-color: var(--color5);
	background-clip: padding-box;
	border-radius: 0.7rem;
	outline: 0;
}

.sort hr {
	margin: 1rem 0 !important;
}

.infoItem {
	border: 2px solid var(--color6);
}

.formH1 {
	color: var(--color255);
	font-size: 30px;
	text-align: justify;
	margin-bottom: 3%;
}

.formH2 {
	color: var(--color255);
	font-size: 23px;
	text-align: justify;
	margin-bottom: 3%;
}

.info {
	padding: 3% 3%;
}

.info p {
	font-style: normal;
	font-size: 16px;
}

.descriptionForm {
	color: var(--color0);
}

.modal-content hr {
	color: var(--color255);
	max-width: 80vw;
	height: 2.5px;
	margin: 0 0 0 8vw;
}

.modal-content span {
	text-align: center;
	padding: 5%;
	color: var(--color255);
}

.modalButtons {
	display: flex;
	justify-content: space-between;
	margin: 5%;
}

.modal-content .modalButtons .btn {
	border-radius: 0.9rem;
	background-color: var(--color1);
	border-color: var(--color1);
	width: 35vw;
	color: var(--color255);
}

.menu hr {
	color: var(--color255);
	width: 56vw;
	height: 3px;
	margin: 5px 5px 0px 0px;
	opacity: .25;
}

.link1 {
	border: none;
}

.links:hover {
	background-color: rgba(152, 17, 48, 0);
	color: var(--color3);
	font-style: bold;
	transform: scale(1.01);
}

.list .dropinfo {
	position: relative;
	height: 100%;
	color: var(--color255);
	z-index: 1;
	display: none;
	box-sizing: border-box;
	align-items: center;
}

.dropwindow:hover .dropinfo {
	display: block;
}

.dropwindow:hover .links {
	flex-direction: revert;
}

.form_button {
	font-family: sans-serif;
	letter-spacing: 1px;
}

.formButtons {
	display: flex;
	justify-content: space-between;
}

.form_button {
	border: none;
	font-size: 15px;
	background-color: var(--color1);
	text-align: center;
	border-radius: 0.6em;
	padding: 1% 2% 1% 2%;
	display: inline-block;
	margin: 2% 0 2% 0;
	width: 45%;
}

.formButtons a {
	color: var(--color255);
}

.list a {
	text-decoration: none;
}

.dropinfo .form-floating {
	margin: 5% 2% 5% 2%;
	color: var(--color5);
	width: 54vw;
}

.dropinfo .form-control {
	border-radius: 0.5rem;
}

.logIn {
	margin-top: 25vh !important;
}

.regPage h1 {
	color: var(--color255);
	margin: 10vh 30% auto 30%;
	text-align: center;
}

.regPage h2 {
	color: var(--color255);
	margin: 4vh 20% 2vh 20%;
	font-size: 20px;
	text-align: center;
}

.regPage h3 {
	color: var(--color255);
	margin: 0 20% 0 20%;
	font-size: 17px;
	text-align: justify;
}

.reg {
	margin: 3% 15% 3% 15%;
	color: var(--color5);
	width: 70vw;
}

.regPage .special {
	margin: 1% 15% 1% 15%;
}

.butt {
	display: flex;
	justify-content: center;
}

.registration {
	background-color: var(--color4095);
	color: var(--color255);
	margin: 3%;
	min-width: 32vw;
	border-radius: 0.8rem;
}

.select_box {
	border-radius: 0.5rem;
	height: 7vh;
	width: 70vw;
	margin: 1% 15% 1% 15%;
}

.select_box_change {
	border-radius: 0.5rem;
	height: 6vh;
	width: 54vw;
	margin: 1% 2% 5% 2%;
}

.select_box_special {
	border-radius: 0.4rem;
	height: 7vh;
	width: 70vw;
	margin: 2% 15% 5% 15%;
}

#progress,
#progress2 {

	z-index: 1000;
	width: 25%;
	background: #00E5FF;
	height: 10px;

}

#bar {
	margin-top: 58%;
	margin-bottom: 4%;
	margin-left: 27%;
	height: 50%;
	width: 50%;
}

.carousel-indicators {
	position: absolute;
	right: 0;
	top: 37.5vh;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 0 0 0;
	list-style: none;
	height: 2vh;
}

.logupdiv {
	width: auto;
	height: auto;
	max-width: 260px;
	background-color: var(--color255);
	border-radius: 1.2rem;
	margin: 1vh 30vw 1vh 30vw;
	display: flex;
	scroll-snap-type: x mandatory;
	overflow-x: scroll;
}

.logupdiv .pic {
	width: 40vw;
	height: auto;
	margin: 0 0 0 0;
	display: inline-block;
	scroll-snap-align: start;
}

.logupdiv::-webkit-scrollbar {
	display: none;
}

.fa-gear:hover,
.fa-ellipsis:hover,
.fa-bell:hover,
.fa-layer:hover,
.fa-magnifying-glass:hover {
	color: var(--color6);
}

.work{
	margin-top:2px !important; 
	color: var(--color1); 
	font-size: 0.8em;
}

.bell{
	font-size: 24px;
}

.circle{
	margin-top:-13px !important; 
	margin-left: 12px !important;
	color: var(--color3); 
	font-size: 0.75em;
}