<div class="controlPanel">
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='profile'"><i class="fa-solid fa-user-large fa-xl"></i></i></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='info'"><i class="fa-solid fa-info fa-xl"></i></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='main'"><i class="fa-solid fa-house fa-xl"></i></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='volunteerApplication'">
            <i class="fa-solid fa-house-heart fa-xl"></i></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='neederApplication'"><i class="fa-solid fa-house-crack fa-xl"></i></i></button>
    </div>
</div>