<div class="controlPanel">
	<div class="item">
		<button type="button" class="btn btn-dark" onclick="window.location.href='profile'"><i class="fa-solid fa-user-large fa-xl"></i></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" onclick="window.location.href='info'"><i class="fa-solid fa-info fa-xl"></i></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" onclick="window.location.href='main'"><i class="fa-solid fa-house fa-xl"></i></button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" onclick="window.location.href='volunteerApplication'">
			<div>
				<span class="fa-stack">
					<i class="fa fa-house-medical fa-stack-2x home"></i>
					<i class="fa fa-circle fa-stack-1x"></i>
					<i class="fa fa-heart fa-stack-1x work"></i>
				</span>
			</div>
		</button>
	</div>
	<div class="item">
		<button type="button" class="btn btn-dark" onclick="window.location.href='neederApplication'"><i class="fa-solid fa-house-crack fa-xl"></i></button>
	</div>
</div>