<div class="controlPanel">
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='profile'"><img src="/views/usedIcons/user.png" class="iconControl" alt="userProfile"></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='info'"><img src="/views/usedIcons/info.png" class="iconControl" alt="userInfo"></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='main'"><img src="/views/usedIcons/home.png" class="iconControl" alt="userMain"></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='volunteerApplication'"><img src="/views/usedIcons/volunteer.png" class="iconControl" alt="userVolunteer"></button>
    </div>
    <div class="item">
        <button type="button" class="btn btn-dark" onclick="window.location.href='neederApplication'"><img src="/views/usedIcons/needer.png" class="iconControl" alt="userNeeder"></button>
    </div>
</div>