<div class = "menu">
    <button class="click_2"><a href = "#"><img src="/views/usedIcons/notificationNo.png" class="iconControl" alt="bell"></a></button>
    <div class="list_2">
        <%- include('notification/noticeMerge.ejs') %>
        <%- include('notification/noticeFinish.ejs') %>
    </div>
</div>