<div class = "menu">
    <button class="click_2"><a href = "#"><img src="/views/usedIcons/notificationNo.png" class="iconControl" alt="bell"></a></button>
    <div class="list_2">
        <div class="try">
            <h1>hellllo0000000000</h1>
        </div>
        <div class="try2">
            <h1>hellllo
            dfvdv
            fvdfvdfvdfb
            dfbdfbdfb
            dfbdfb</h1>
        </div>
    </div>
</div>