<div class="applicationCard">
    <div class="applicationHeader">
        <div><p>22.04.2022 22:33</p></div>
        <img src="/views/usedIcons/more.png" class="icon" alt="more">
        <img src="/views/usedIcons/urgent.png" class="icon" alt="Urgent">
        <img src="/views/usedIcons/need.png" class="iconLast" alt="volunteerApplication">
    </div>
    <div class="applicationText">
        <br>
        <p>Моє ім'я та прізвище</p>
        <p>Я знаходжусь в...</p>
        <p>Мені потрібні ліки</p>
        <p>Інсулін 2 ампули</p>
        <p>ТЕРМІНОВО</p>
    </div>
</div>