<div class="applicationCard">
    <div class="applicationHeader">
    <div><p>Ваш волонтер: <strong>Ім'я</strong></p></div>
    <i class="fa-solid fa-heart fa-xl"></i>
    </div>
    <div class="applicationText">
        <p>Відповіли на заявку 22.04.2022 22:33</p>
        <p>Категорія: ліки</p>
        <p>Конкретніше: Інсулін</p>
        <p>Контактні дані:</p>
        <p style="text-align: center;">email@gmail.com</p>
    </div>
    <div class="applicationInProgressFooter">
        <button class="btn btn-light"><img src="/views/usedIcons/cancel.png" alt=""></button>
        <div><p>+38 0** *** ** **</p></div>
        <button class="btn btn-light"><img src="/views/usedIcons/finish.png" alt=""></i></button>
    </div>
</div>