<div class="applicationCard">
    <div class="applicationHeader">
        <div class="date"><p class="text">22.04.2022 22:33</p></div>
        <div class="markButton">
            <div class = "threepoints">
                <button class = "click_3"><a><i class="fa-solid fa-ellipsis fa-lg"></i></a></button>
                <div class = "droppoints">
                    <a class="btn editingApp" role="button" id="liveToastBtn6">Видалити оголошення</a>
                    <a class="btn editingApp" role="button" id="liveToastBtn7">Редагувати оголошення</a>
                </div>
            </div>
            <i class="fa-solid fa-exclamation fa-xl"></i>
            <i class="fa-solid fa-heart-crack fa-xl"></i>
        </div>
    </div>
    <div class="applicationText">
        <p>Моє ім'я та прізвище</p>
        <p>Я знаходжусь в...</p>
        <p>Мені потрібні ліки</p>
        <p>Інсулін 2 ампули</p>
        <p>ТЕРМІНОВО</p>
    </div>
</div>