<div class="applicationCardInProgress">
    <div class="applicationHeader">
        <div class="date">
            <p class="text2">23.04.2022 13:21</p>
            <p class="answer">↪ 22.04.2022 22:33</p>
        </div>
        <div class="markButton"><i class="fa-solid fa-heart fa-xl"></i></div>
    </div>
    <div class="applicationText">
        <p>Категорія: ліки</p>
        <p>Я прошу: Інсулін</p>
        <p>Мені пропонують: Інсулін 10амп.</p>
        <p>Волонтер: <strong>Ім'я</strong></p>
        <p>Контактні дані: +38 0** *** ** **</p>
        <p class="email">email@gmail.com</p>
    </div>
    <div class="applicationInProgressFooter">
        <button class="btn btn-light"><i class="fa-solid fa-times fa-lg"></i></button>
        <button class="btn btn-light"><i class="fa-solid fa-check fa-lg"></i></button>
    </div>
</div>