<div class="profileCard">
    <div class="profilePhoto">
        <img src="/views/usedPictures/male.png" alt="woman">
    </div>
    <div class="profileInfo">
        <p>Ім'я Прізвище</p>
        <p>Місцезнаходження:</p>
        <p>Область,</p>
        <p>Район області</p>
        <p>Номер телефон</p>
        <p>Email</p>
    </div>
</div>