<div class="try">
    <p><em>Волонтер</em> видалив оголошенння пов'язане з Вашим <em>потребуючим</em>:</p>
    <div class="partApplication">
        <div class="partApplicationHeader">
            <p class="date">22.04.2022 22:33</p>
            <p class="urgent">ТЕРМІНОВО</p>
        </div>
        <p>Інсулін дві ампули</p>
    </div>
    <p>Допомога виконана успішно чи продровжити пошук пари для допомоги?</p>
    <div>
        <div class="notificationFooter">
            <button class="btn btn-light" onclick="window.location.href='profile'">Шукати далі</button>
            <button class="btn btn-light" onclick="window.location.href='profile'">Виконано</button>
        </div>
    </div>
</div>