<div class="try2">
    <p>Ваш <em>Волонтер</em> видалив <a href="">оголошенння</a>, допомога виконана успішно чи продровжити пошук пари для допомоги?</p>
    <div>
        <div class="notificationFooter">
            <button class="btn btn-light">Шукати далі</button>
            <button class="btn btn-light">Виконано</button>
        </div>
    </div>
</div>