<div class="try2">
    <p>Ваш <em>Волонтер</em> видалив <a href="">оголошенння</a>, допомога виконана успішно чи продровжити пошук пари для допомоги?</p>
    <div>
        <div class="notificationFooter">
            <button class="btn btn-light"><img class="invertColor" src="/views/usedIcons/cancel.png" alt=""></button>
            <button class="btn btn-light"><img class="invertColor" src="/views/usedIcons/finish.png" alt=""></i></button>
        </div>
    </div>
</div>