<div class = "helpdiv">
    <section>
        <div class = "item">
            <div class = "items">
                <p><h1>Тип допомоги:</h1></p>
                <p>Ліки</p>
                <p>Медичні прилади</p>
                <p>Вода</p>
                <p>Харчування</p>
                <p>Одяг</p>
                <p>Засоби самооборони</p>
                <p>Засоби гігієни</p>
                <p>Інше</p>
            </div>
            <div class = "items">
                <p><h1>Конкретніше:</h1></p>
                <p id = 'pbreak'>Що саме...</p>
            </div>
        </div>
    </section>
</div>